<app-header></app-header>

<div class="profileForm mt-10">
    <ng-form>
        <div class="h-max flex flex-col justify-center items-center">
            <p class="text-2xl font-semibold">Profil utilisateur</p>
            <div class="flex flex-col justify-center items-center">
                <div class="flex flex-col justify-center mt-6">
                    <input type="text" name="username" id="username"
                           class="h-10 w-72 border-2 border-bluefont rounded-md pl-2"
                           [(ngModel)]="username">
                </div>
                <div class="flex flex-col justify-center mt-8">
                    <input type="email" name="email" id="email"
                           class="h-10 w-72 border-2 border-bluefont rounded-md pl-2"
                           [(ngModel)]="email">
                </div>
                <button mat-raised-button color="primary" class="top-8" (click)="save()">Sauvegarder</button>
                <a (click)="logOut()" class="text-[#a40f0f] mt-12 font-semibold cursor-pointer">Se déconnecter</a>
            </div>
        </div>
    </ng-form>
</div>

<div class="flex justify-center px-20">
    <hr class="w-screen border-1 border-black mt-10">
</div>

<div class="flex flex-col justify-center items-center mt-8">
    <p class="text-2xl font-semibold">Abonnements</p>

        <div class="grid sm:grid-cols-2 mt-10 gap-8 w-screen px-16">
            <ng-container class="w-max" *ngFor="let topic of topics">
                <app-topic [topic]="topic"></app-topic>
            </ng-container>
        </div>
</div>
