<app-header></app-header>
<div class="flex w-screen h-screen">
    <div class="flex justify-start ml-6 mt-10 h-screen mobile:ml-2">
        <svg routerLink="/articles" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
             stroke-width="1.5"
             stroke="currentColor" class="w-16 h-16 cursor-pointer mobile:w-10 mobile:h-10">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"/>
        </svg>
    </div>

    <div class="w-11/12 mt-10 flex flex-col p-4">
        <h2>{{ article?.title }} </h2>
        <div class="flex justify-between w-1/4 my-4 lg:w-1/2 sm:w-full mobile:w-full">
            <p>{{ article?.createdAt }}</p>
            <p>{{ article?.user?.name }} </p>
            <p>{{ article?.topic?.title }} </p>
        </div>
        <div>
            <div class="w-full h-auto break-words">{{ article?.content }}</div>
        </div>


        <hr class="h-0.5 bg-black my-10">

        <h3>Commentaires</h3>

        <div class="flex justify-center items-center flex-col relative">

            <ng-container *ngFor="let comment of posts">
                <div id="posts" class="flex m-4 relative right-10 lg:w-96">
                    <div class="mx-10 mobile:ml-6">
                        <h4>{{ comment.user.name }}</h4>
                    </div>
                    <div class="p-4 rounded-2xl h-auto bg-gray-300 break-words"
                         style="width: 100%">{{ comment?.content }}
                    </div>
                </div>
            </ng-container>


            <ng-form class="flex mt-10 h-32" style="max-width: 600px; width: 100%;">
        <textarea name="comment" [(ngModel)]="comment" required placeholder="Ecrivez ici votre commentaire"
                  class="w-full p-2 rounded-2xl border-2 border-black"></textarea>
                <button mat-fab color="primary" (click)="createPost()"
                        class="bg-black text-white rounded-full w-16 h-16 top-8 mobile:left-0 left-4">
                    <mat-icon>add</mat-icon>
                </button>
            </ng-form>
        </div>
    </div>

</div>
