<div class="themeComponent p-4 flex-col bg-gray-200 rounded-xl">
    <p class="font-bold text-xl">{{ topic?.title }}</p>
    <p>{{ topic?.content }}</p>
    <div class="flex justify-center">
        <ng-container *ngIf="!subscribed; else elseBlock">
            <button mat-raised-button color="primary" (click)="subscribeTo()" class="font-bold py-2 rounded">
                S'abonner
            </button>
        </ng-container>

        <ng-template #elseBlock>
            <button mat-raised-button color="warn" (click)="unsubscribeTo()" class="font-bold py-2 rounded">
                Se désabonner
            </button>
        </ng-template>
    </div>

</div>
