<div class="themeComponent p-4 flex-col bg-gray-200 rounded-xl">
    <p class="font-bold text-xl">Titre du thème</p>
    <p>Content: lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem umlorem
        ipsumlorem ipsumpsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
    <div class="flex justify-center">
        <button class="bg-bluefont hover:bg-white hover:text-bluefont text-white font-bold w-1/4 py-2 rounded">
            S'abonner
        </button>
    </div>
</div>
