<app-header class="header"></app-header>
<div class="flex justify-start ml-16 mt-10">
    <svg routerLink="/" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
         stroke="currentColor" class="w-16 h-16 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"/>
    </svg>
</div>
<div class="registerForm">
    <ng-form>
        <div class="h-max flex flex-col justify-center items-center">
            <img class="w-60 flex sm:hidden" src="/src/assets/logo_p6.png" alt="logo"/>
            <h1 class="text-6xl">Inscription</h1>
            <div class="flex flex-col justify-center items-center">
                <div class="flex flex-col justify-center mt-8">
                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" name="username" id="username" class="h-10 w-72 border-2 border-gray-500 rounded-md pl-2"
                           [(ngModel)]="username">
                </div>
                <div class="flex flex-col justify-center mt-4">
                    <label for="email">Adresse e-mail</label>
                    <input type="email" name="email" id="email" class="h-10 w-72 border-2 border-gray-500 rounded-md pl-2"
                           [(ngModel)]="email">
                </div>
                <div class="flex flex-col justify-center mt-4">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" class="h-10 w-72 border-2 border-gray-500 rounded-md pl-2"
                           [(ngModel)]="password">
                </div>
                <button class="bg-bluefont text-white rounded-md px-8 py-2 mt-8" (click)="register()">S'inscrire</button>
            </div>
        </div>
    </ng-form>
</div>

